:root {
    --bg: #FFF4F4;
    --text: #444;
    --primary: #FFD58D;
    --accent: #FF6A6A;
    --card:white;
    
}

body {
    color:var(--text);
    margin: 0;
    font-family: Arial;
    background: var(--bg);
    transition: 0.3s ease;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--accent);
    margin: 0 40px;
}
a{
    text-decoration: none;
}
header {
    
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    transition: 0.3s ease;
    background: white;
    z-index: 1000;
    position: relative;
}
/* animation buttons*/
.left a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    overflow: hidden;
    transition: all 0.4s ease;
    z-index: 1;
}
body.dark .login {
    color: #fff;
    border-color: #fff;
}

body.dark .login:hover {
    color: #000;
}
.register{
    background: var(--accent);
    color: white;
    transition: 0.3s ease;
}

.register:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 20px rgba(255,106,106,0.4);
}
body.dark .register:hover {
    color: #000;
}
.hero {
    position: relative;
    height: 100vh;
    overflow: visible;
}
.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 65%;
    background: white;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}
/* Content */
.content {
    position: relative;
    text-align: center;
    top: 20%;
    z-index: 2;
}
.content h1 {
    font-size: 40px;
    color: var(--text);
    animation: fade 1s ease;
}

.content p {
    color: gray;
}
.btn {
    margin-top: 20px;
    padding: 12px 30px;
    background: var(--accent);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
body.dark header, body.dark footer{
    background-color: #2d2f31;
    border-color: #3f4144;
}
body.dark header {
    color:#fff
}

.theme-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FF6A6A;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.theme-btn:hover {
  transform: scale(1.1);
}

.theme-btn svg {
  stroke: #000;
}

body.dark .theme-btn svg {
  stroke: #fff;
}

body.dark .theme-btn:hover {
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
}
.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
/*video*/
.video-container {
    position: relative;
    display: flex;
    justify-content: center;

}
.video-container video{
    width: 70%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    transition: 0.4s ease;
}
.video-section {
    padding: 80px 20px;
    text-align: center;
    background:var(--bg)
}
.video-section h2 { 
    font-size: 30px;
    margin-bottom: 10px;
    color:var(--text);
    animation: fadeDown 1s ease;
}

.video-container video:hover {
    transform: scale(1.03);
    box-shadow: 0 20px 60px rgba(0,0,0,0.3);
}
.video-section {
    animation: fadeUp 1s ease;
}
/************************************/
.hero-split {
    margin-top: 20px;
    height: 350px;
    display: flex;
     justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 40px;
}
.hero-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    object-position: top;
    border-radius: 10px;
    transition: 0.4s ease;
}
.hero-img:hover {
    transform: scale(1.05);
}
.hero-text {
    margin-left: auto;  
    width: 40%;
    padding: 20px;
    color: var(--text);
    font-size: 18px;
}
.hero-text h1 {
    font-size: 32px;
     margin-bottom: 10px;
    animation: fadeDown 1s ease;
}

.hero-text p {
    line-height: 1;
    font-size: 20px;
}
.books {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 120px;
}

.card {
    width: 300px;
    text-align: center;
    background: var(--card);
    color: var(--text);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

body.dark {
    --bg: #353535;
    --text: #ffffff;
    --nav:#2a2a2a;
    --card: #2d2f31
}
body.dark .hero-text,
body.dark .hero-text h1,
body.dark .hero-text p {
    color: white;
}
body.dark {
    background: var(--bg);
    color: var(--text);
}
body.dark header {
    background: var(--nav);
 
}
body.dark footer {
    background: var(--nav);
    color: var(--text);
}
body.dark .video-section,
body.dark .images-section{
    background: var(--bg);
}
body.dark .card {
    background: var(--card);
    color: var(--text);
}
/* Animations */
@keyframes fade {
    from {opacity: 0; transform: translateY(30px);}
    to {opacity: 1; transform: translateY(0);}
}

@keyframes float {
    0% {transform: translateY(0);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0);}
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.footer {
  text-align: center;
  padding: 10px;
  background: var(--card);
  margin-top: 20px;
  
}
.dark{
    background: #333;
    color:white;
}

.footer p {
    margin: 5px 0;
    font-size: 14px;
}
